$colorBackground: #fbff00d6;
$fontColorWhite: white;

$navbarBackground:#3d2b76a8;
$navbarShadow: black; 
$navbarColorItem: white;
$navbarItemActive: white;

$borderColor: red;

$loginBackground: red;

$black: black;

