@import "colores.scss";
@import "navbar.scss";
@import "productos.scss";
@import "login.scss";

$altura: 358px;
$display: flex;
$rem1: 1rem;

$vista: mobile;
$mobileBreakpoint: 768px;


// mapa agregado 

$estilos: (
  altura: $altura,
  vista: $display,
  direccion1: column,
  direccion2: row,
  medida1: $rem1,
);


.w-100 {
  height: map-get($estilos, altura);
}

.card-body-p {
  display: map-get($estilos, vista);
  flex-direction: map-get($estilos, direccion2);
  // operaciones 
  column-gap: $rem1 + $rem1;
  justify-content: center;
  @if $vista == mobile {
    @media (max-width: $mobileBreakpoint) {
      flex-direction: map-get($estilos, direccion1);
      row-gap: map-get($estilos, medida1);
    }
  }
}

.card-animation-two {
  animation: bounce-right 5s;
}

@keyframes bounce-right {
  0% {
    transform: translateX(-1100px);
  }
  25% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-400px);
  }
  75% {
    transform: translateX(0);
  }
}

//mixin 

@mixin cajero($borderRadius, $border, $padding, $width, $margin){
  border-radius: $borderRadius;
  border: $border;
  padding: $padding;
  width: $width;
  margin: $margin ;
}

.perfil-cajero {
  @include cajero (50%, 1px solid $borderColor, $rem1, 70%,  map-get($estilos, medida1) auto 0);
}

.card-cajeros {
  flex-direction: map-get($estilos, direccion2);
  @if $vista == mobile {
    @media (max-width: $mobileBreakpoint) {
      flex-direction: map-get($estilos, direccion1);
    }
  }
}

.card-body-cajeros {
  border: 1px solid $borderColor;
  margin: map-get($estilos, medida1);
  border-radius: map-get($estilos, medida1);
}

.img-pago {
  // operaciones 
  width: map-get($estilos, medida1) + ($rem1 * 2);
  margin-right: 10px;
}

.ingreso {
  margin-right: $rem1;
}

.container-fluid {
  background-color: $colorBackground;
}

.carousel-inner {
  margin: map-get($estilos, medida1) auto;
  border-radius: 5px;
}

@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

.card {
  img {
    @include sizes(286px, 200px);
  }
}

.carousel-control:hover {
  background-color: $black;
  opacity: 0.5;
  transition: background-color 0.5s ease;
}

.card-animation {
  -webkit-animation: bounce-down 1.6s linear infinite;
  animation: bounce-down 1.6s linear infinite;
}

@-webkit-keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-4px);
  }
  50%,
  100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(4px);
  }
}

@keyframes bounce-down {
  25% {
    transform: translateY(-4px);
  }
  50%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(4px);
  }
}


// extend 


.titleHome {
  text-align: center;
}