<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="../css/misestilos.css" />
</head>

<body>
    <div class="container-lg">
        <!-- barra de navegacion  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img class="logo" src="../imgs/logo.PNG" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link" href="../views/productos.html" target="">Productos</a>
                    <a class="nav-link active" href="../views/cajeros.html">Cajeros</a>
                    <a class="nav-link" href="../views/quienes_somos.html">Quienes Somos</a>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </nav>

        <!-- carrousel de medios de pago  -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card card-cajeros" style="width: 100%;">
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 1</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                            <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 2</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                            <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 3</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                            <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card card-cajeros" style="width: 100%;">
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 4</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                            <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 5</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                            <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 6</h5>
                        <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                                <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card card-cajeros" style="width: 100%;">
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 7</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                                <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 8</h5>
                            <img src="../imgs/paypal.png" class="card-img-top img-pago" alt="..." />
                                <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                        <div class="card-body card-body-cajeros">
                            <h5 class="card-title">Medio de Pago 9</h5>
                        <img src="../imgs/paypal.png" class="card-img-top img-pago img-pago" alt="..." />
                                <a href="#" class="card-link">Buscar Cajeros</a>
                            <a href="#" class="card-link">Asociar Cuenta</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
        
        <!-- listados de cajeros  -->
        <h1>Catálogo de <span class="badge badge-secondary">Cajeros</span></h1>

        <div class="card-body card-body-p">
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 1</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 2</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 3</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
        </div>
        <div class="card-body card-body-p">
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 1</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario2.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 2</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 3</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
        </div>
        <div class="card-body card-body-p">
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 1</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../ecommerce-pompas/imgs/usuario2.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 2</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="perfil-cajero" src="../ecommerce-pompas/imgs/usuario1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cajero 3</h5>
                    <p class="card-text">Alguna descripcion de los medios de pago que ofrece para poder
                        cargar
                        saldo en la página y poder comprar o vender saldo.</p>
                    <a href="#" class="btn btn-primary">IR COMPRAR / VENDER</a>
                </div>
            </div>
        </div>

    </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>