<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/misestilos.css" />
    <title>Productos</title>
</head>

<body>
    <div class="container-fluid">
        <!-- barra de navegacion  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html"><img class="logo" src="imgs/logo.PNG" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
                    <a class="nav-link active" href="../views/productos.html" target="">Productos</a>
                    <a class="nav-link" href="../views/cajeros.html">Cajeros</a>
                    <a class="nav-link" href="../views/quienes_somos.html" target="">Quienes Somos</a>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </nav>
        <h1 class="titleProducts">Catálogo de <span class="badge badge-secondary">Productos</span></h1>
        <!-- catalogo de productos  -->
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="../imgs/auto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="../imgs/benelli.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="../imgs/casa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="imgs/casas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 4</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="imgs/auto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 5</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="imgs/benelli.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 6</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="imgs/casa.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 7</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-product">
                    <img src="imgs/casas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Producto 8</h5>
                        <p class="card-text">Descripcion del producto con algunas especificaciones técnicas más
                            consultadas <br><br>
                            Precio $</p>
                        <a href="#" class="btn btn-primary">Ver Publicación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>

</html>